
/.vs/TownsApi/FileContentIndex
/.vs/TownsApi/FileContentIndex
.vs/TownsApi/FileContentIndex/58b20293-333b-4e8d-9901-1eab83613a86.vsidx
*.v2
.vs/ProjectEvaluation/townsapi.metadata.v8.bin
TownsApi/obj/Release/net8.0/TownsApi.AssemblyInfoInputs.cache
.vs/TownsApi/v17/DocumentLayout.json
TownsApi/obj/Release/net8.0/TownsApi.AssemblyInfoInputs.cache
.vs/TownsApi/v17/DocumentLayout.json
.vs/TownsApi/v17/.suo
.vs/TownsApi/DesignTimeBuild/.dtbcache.v2
TownsApi/obj/Debug/net8.0/TownsApi.AssemblyInfoInputs.cache
.vs/TownsApi/v17/.suo
.vs/TownsApi/v17/DocumentLayout.json
TownsApi/bin/Release/net8.0/TownsApi.dll
TownsApi/bin/Release/net8.0/TownsApi.exe
TownsApi/bin/Release/net8.0/TownsApi.pdb
TownsApi/obj/Release/net8.0/apphost.exe
TownsApi/obj/Release/net8.0/ref/TownsApi.dll
TownsApi/obj/Release/net8.0/refint/TownsApi.dll
TownsApi/obj/Release/net8.0/TownsApi.AssemblyInfoInputs.cache
TownsApi/obj/Release/net8.0/TownsApi.csproj.CoreCompileInputs.cache
TownsApi/obj/Release/net8.0/TownsApi.sourcelink.json
.vs/TownsApi/v17/.suo
*.pdb
TownsApi/obj/Release/net8.0/TownsApi.AssemblyInfoInputs.cache
TownsApi/obj/Release/net8.0/TownsApi.sourcelink.json
